* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
}

button {
    cursor: pointer;
}

main {
    padding: 2em;    
}

.page-heading {
    text-align: center;
    font-size: 48px;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 0.1em;
}

.dot-container {
    text-align: center;
    margin: 0.1em;
}